.content-wrap {
    width : 100%;
    height: 100%;
    align-items: end;
}
.inicio {
    position:relative;
        margin-top:20vh!important;
        align-items:flex-start!important;
        p {
            padding: 0.7rem!important;
        } 
        .info{
            max-width: 270px;
        }
    }
.galeria {
    width        : 20vw;
    height       : 100%;
    flex-wrap    : wrap;
    align-content: center;
}

.modelos-wrapper {
    width      : 25vw;
    height     : 0vh;
    padding-top: 100%;
    position   : relative;
    position   : relative;

    .modelo {
        position           : absolute;
        top                : 0;
        right              : 0;
        left               : 0;
        right              : 0;
        width              : 100%;
        height             : 100%;
        background-size    : cover !important;
        background-position: center !important;
    }

}

.editar {
    padding      : 0.8rem;
    border       : 0;
    color        : white;
    fill         : white;
    background   : #6e0d10;
    border-radius: 1rem;
    font-family  : 'Roboto', sans-serif !important;

    &:hover {
        background: #eb1d25;
    }
}
.margen{
    margin-top:25vh;
}